-e git+https://github.com/moniqueexner/academia_tag_recommender.git@d74bf55db74883c6ab5ba340ac35472d7bafe8d3#egg=academia_tag_recommender
aiohttp @ file:///D:/bld/aiohttp_1614281086591/work
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anyio @ file:///D:/bld/anyio_1609601370236/work/dist
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217273648/work
astroid @ file:///C:/ci/astroid_1592487315634/work
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
boto==2.49.0
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1614382476053/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1614377651630/work
brotlipy==0.7.0
bz2file==0.98
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1611555765219/work
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606255208697/work
chardet @ file:///C:/ci/chardet_1607690654534/work
click==7.1.2
clyent==1.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
commonmark==0.9.1
conda==4.9.2
conda-build==3.18.11
conda-package-handling @ file:///C:/ci/conda-package-handling_1603003327818/work
conda-verify==3.4.2
cryptography @ file:///C:/ci/cryptography_1607637849569/work
cycler==0.10.0
Cython==0.29.14
decorator==4.4.2
definitions==0.2.0
defusedxml==0.6.0
docutils==0.17
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock==3.0.12
future==0.18.2
gensim @ file:///D:/bld/gensim_1589441310359/work
glob2==0.7
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1611955420232/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1608136875028/work
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1608136972897/work
google-cloud-storage==1.19.0
google-crc32c @ file:///D:/bld/google-crc32c_1611954423366/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1608141079349/work
googleapis-common-protos @ file:///D:/bld/googleapis-common-protos-feedstock_1604414944715/work
grpcio @ file:///D:/bld/grpcio_1614459197599/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel @ file:///D:/bld/ipykernel_1607737448354/work/dist/ipykernel-5.4.2-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1604159844946/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
jedi @ file:///D:/bld/jedi_1609162577777/work
Jinja2==2.11.2
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///tmp/build/80754af9/joblib_1607970656719/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-core @ file:///C:/ci/jupyter_core_1606149073702/work
jupyter-server @ file:///D:/bld/jupyter_server_1609793966370/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1609830309460/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1608758016764/work
kiwisolver==1.3.1
lazy-object-proxy @ file:///C:/b/work
libarchive-c==2.9
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
menuinst==1.4.16
mistune @ file:///D:/bld/mistune_1605115857778/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict @ file:///D:/bld/multidict_1610319170773/work
navigator-updater==0.2.1
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1608065786177/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///D:/bld/nbconvert_1605402041690/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
networkx==2.5
nltk==3.5
notebook @ file:///D:/bld/notebook_1608772881842/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1607785313469/work
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1607618318316/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pigar==0.10.0
Pillow @ file:///C:/ci/pillow_1603823068645/work
pkginfo==1.6.1
plotly==4.12.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1605053337398/work
protobuf==3.15.2
psutil @ file:///C:/ci/psutil_1598370330503/work
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo @ file:///C:/ci/pycairo_1593108952636/work
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1607352093725/work
pylint @ file:///C:/ci/pylint_1598617153160/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent @ file:///C:/ci/pyrsistent_1600141795814/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.8.1
python-igraph==0.8.3
pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
pywin32==227
pywinpty @ file:///D:/bld/pywinpty_1602377663724/work
PyYAML==5.3.1
pyzmq==20.0.0
QtPy==1.9.0
recommonmark==0.6.0
regex==2020.11.13
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
retrying==1.3.3
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
rstcheck==3.3.1
ruamel-yaml==0.15.87
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1610404472418/work
scikit-learn==0.24.0
scikit-multilearn==0.2.0
scipy @ file:///C:/ci/scipy_1604596260408/work
Send2Trash==1.5.0
sip==4.19.13
six @ file:///C:/ci/six_1605187374963/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1613384445996/work
sniffio @ file:///D:/bld/sniffio_1606397474935/work
snowballstemmer==2.1.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1607965878077/work
Sphinx==3.5.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
terminado @ file:///D:/bld/terminado_1609796834027/work
testpath==0.4.4
texttable==1.6.3
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado @ file:///D:/bld/tornado_1604105353952/work
tqdm @ file:///tmp/build/80754af9/tqdm_1608922753628/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1606938623459/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
wrapt==1.11.2
xmltodict==0.12.0
yarl @ file:///D:/bld/yarl_1610354399983/work
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
